{% extends "base.html" %}

{% block title %}投票主題{% endblock %}

{% block main %}
    <h1>{{ poll.subject }}</h1>
    <p>{{ poll.desc }}</p>
    {% if user.is_authenticated %}
    <a href="{% url 'option_create' poll.id%}">新增選項</a>
    {% endif %}
    <ul>
        {% for op in option_list %}
        <li>
            {% if user.is_authenticated %}
            <a href="{% url 'poll_vote' op.id %}">{{ op.title }}</a> - {{ op.votes }}票
                <a href="{% url 'option_edit' op.id %}">修改</a>
                <a href="{% url 'option_delete' op.id %}">刪除</a>
            {% else %}
            {{ op.title }} - {{ op.votes }}票
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <br >
    <a href="{% url 'poll_list' %}">回首頁</a>
{% endblock %}