{% extends "base.html" %} <!-- base.html檔案要拿到外面去放 -->

{% block title %}投票主題列表{% endblock %}

{% block main %}
    <h1>投票主題列表</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'poll_create' %}">新增投票主題</a>
    {% endif %}
    <ul>
        {% for poll in poll_list %}
        <li>{{ poll.created}} <a href="{% url 'poll_view' poll.id %}"> {{poll.subject}} </a>
            {% if user.is_authenticated %}
            <a href="{% url 'poll_edit' poll.id %}">修改</a>
            <a href="{% url 'poll_delete' poll.id %}">刪除</a>
            {% endif %}
        </li>  <!-- 雙括弧:列印用 , 誇湖百分比:邏輯運算，流程控制;引用命名時若連結友會變動的變數，要加入[poll.id] -->
        {% endfor %}
    </ul>
{% endblock %}